body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    opacity: 0.9;
}

/* Header */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
}

li {
    display: inline;
    text-decoration: underline;
}

/* Our Mission */

section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.our-mission {
    background-image: url("images/img-mission-background.webp");
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-mission div{
    background-color: black;
    z-index: 10;
    align-items: flex-start;
}

/* Tea of The Month */

img {
    height: 200px;
    width: 300px;
}

.tea-month {
    width: 1000px;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px
}

.img-container div p {
    margin-top: 10px;
    font-weight: bold;
}

/* Locations */

.locations {
    height: 500px;
    width: 1200px;
    background-image: url("images/img-locations-background.webp");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 300px;
    background-color: black;
    opacity: 1;
    line-height: 2;
    margin-top: 15px;
}

/* Footer */

footer {
    margin-left: 20px;
}